<div class="ui container" style="margin: 2% !important;">
  <div class="ui hidden divider">
  </div>
  <div class="ui center aligned middle aligned header logo-header">
    Myplaylist
  </div>
  <div class="ui hidden divider"></div>
  <hr class="hr" />
  <div class="ui hidden divider"></div>
  <div class="slogan" align="center">We provide you the simplest way to organise your Music. Everytime you like a new song just add it to your myPlaylist library
    and it's that simple.</div>
  <div class="ui stackable grid">
    <div class="row" style="height:15em;">
      <div class="five wide column"></div>
      <div class="six wide center aligned middle aligned column get-started">
        <div class="ui huge basic teal inverted button" (click)="login()">
          Sign up
        </div> to Get started.
      </div>
      <div class="five wide column"></div>
    </div>
    <div class="row">
      <div class="five wide center aligned column">
        <div class="column-header">
          <i class="heart icon"></i>
          Music is key to our heart
        </div>
        <hr class="hr">
        <p class="description">
          The best way to touch someone's heart is to share what you listen to, Let them know you care for them, let them feel what
          you feel..
        </p>
      </div>
      <div class="five wide center aligned column">
        <div class="column-header">
          <i class="sound icon"></i>
          One tap access.
        </div>
        <hr class="hr">
        <p class="description">
          You can access it from Anywhere, anytime and from any devices, with just one click on our link.
        </p>
      </div>
      <div class="six wide center aligned column">
        <div class="column-header">
          <i class="history icon"></i>
          Keep everlasting backup.
        </div>
        <hr class="hr">
        <p class="description">
          Every time when we change our music app, cell phone or any mp3 device, It's so hard to find all our previous playlists, Well
          you don't have to worry about that anymore, We got you covered. You add it once and We'll keep it forever (unless
          you want to remove it).
        </p>
      </div>
      <div class="column"></div>
    </div>
  </div>
</div>
